@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --fieldset: 0 0% 100%;
    --fieldset-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0 100% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 100% 100%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 100% 100%;

    --muted: 0 0% 7%;
    --muted-foreground: 0 0% 64%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 100% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 100% 100%;

    --fieldset: 0 0% 0%;
    --fieldset-foreground: 0 100% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;

    --primary: 0 100% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 7%;
    --secondary-foreground: 0 100% 100%;

    --accent: 0 0% 17%;
    --accent-foreground: 0 100% 100%;

    --destructive: 0 100% 45%;
    --destructive-foreground: 0 100% 100%;

    --ring: 0 0% 53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    color-scheme: light dark;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
